h1 {
    text-align: center;
    background-color: rgb(140, 140, 140);
    margin: 0px;
    color: white;
}

p {
    text-align: center;
    background-color: rgb(200, 200, 200);
    margin: 0px;
    font-size: 30px;
    color: white;
}

.MenuBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(102, 153, 255);
}

.MenuItem {
    background-color: rgb(102, 153, 255);
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

.Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#image {
    margin: auto;
    margin-top: 50px;
    border-style: dotted;
    text-align: center;
    font-size: 5px;
}

#description {
    margin: auto;
    margin-top: 50px;
    border-style: dotted;
}

