{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <!-- Loop through the database entries to display them in this table -->
    <div class="row">
        {% for title, detail in notes_dictionary.items() %}
        <div class="col-md-4">
            <div class="card bg-light text-dark m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: dodgerblue">{{ title }}</h5>
                    <p class="card-text">{{ detail }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
