{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Stock's Symbol</th>
                <th>No. of Shares</th>
                <th>Price per Share</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the database entries to display them in this table -->
            {% for birthday_row in birthdays %}
                <tr>
                    <td>{{ birthday_row.name }}</td>
                    <td>{{ birthday_row.month}}</td>
                    <td>{{ birthday_row.month}}</td>
                    <td>{{ birthday_row.month}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
