{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

        <tbody>
            <!-- Loop through the database entries to display them in this table -->
            {% for row in transactions_data %}
            <div class="card bg-primary text-white" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ row.symbol }}</h5>
                    <p class="card-text">{{ row.method }}</p>
                </div>
            </div>
            {% endfor %}
        </tbody>
        
{% endblock %}
